<div class="card">
  <h4 class="card-header">Login</h4>
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="login()">
      <div class="form-group">
        <label for="tipoidentificacion">Tipo de documento</label>
        <select
          formControlName="tipoidentificacion"
          class="form-control"
        >
          <option
            *ngFor="let tipoDocumento of listadoTiposDocumento"
            [value]="tipoDocumento.uuiddocumento"
          >
            {{ tipoDocumento.tipodocumento }} -
            {{ tipoDocumento.abreviaturadocumento }}
          </option>
        </select>
        <div
          *ngIf="submitted && f.tipoidentificacion.errors"
          class="invalid-feedback"
        >
          <div *ngIf="f.tipoidentificacion.errors.required">
            Tipo de documento es obligatorio
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="numeroidentificacion">Número de documento</label>
        <input
          type="text"
          formControlName="numeroidentificacion"
          class="form-control"
          [ngClass]="{
            'is-invalid': submitted && f.numeroidentificacion.errors
          }"
        />
        <div
          *ngIf="submitted && f.numeroidentificacion.errors"
          class="invalid-feedback"
        >
          <div *ngIf="f.numeroidentificacion.errors.required">
            Número de documento es obligatorio
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Clave</label>
        <input
          type="password"
          formControlName="password"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
        />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Clave es obligatorio</div>
        </div>
      </div>
      <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
          <span
            *ngIf="loading"
            class="spinner-border spinner-border-sm mr-1"
          ></span>
          Login
        </button>
      </div>
    </form>
  </div>
</div>
